String based assignment problem

q.1

In [1]:
def reverse_string(input_string):
    return input_string[::-1]

# Get input from the user
user_input = input("Enter a string: ")

# Call the function and print the reversed string
reversed_string = reverse_string(user_input)
print("Reversed string:", reversed_string)

Enter a string:  soni

Reversed string: inos

q.2

In [3]:
def is_palindrome(input_string):
    # Convert the input string to lowercase and remove spaces
    clean_string = input_string.lower().replace(" ", "")
    
    # Check if the cleaned string is equal to its reverse
    return clean_string == clean_string[::-1]

# Get input from the user
user_input = input("Enter a string: ")

# Check if the input string is a palindrome
if is_palindrome(user_input):
    print("The input string is a palindrome.")
else:
    print("The input string is not a palindrome.")

Enter a string:  soni

The input string is not a palindrome.

q.3

In [4]:
def convert_to_uppercase(input_string):
    return input_string.upper()

# Get input from the user
user_input = input("Enter a string: ")

# Call the function and print the string in uppercase
uppercase_string = convert_to_uppercase(user_input)
print("Uppercase string:", uppercase_string)

Enter a string:  siddharth

Uppercase string: SIDDHARTH

q.4

In [5]:
def convert_to_lowercase(input_string):
    return input_string.lower()

# Get input from the user
user_input = input("Enter a string: ")

# Call the function and print the string in lowercase
lowercase_string = convert_to_lowercase(user_input)
print("Lowercase string:", lowercase_string)

Enter a string:  SONI

Lowercase string: soni

Q.5

In [6]:
def count_vowels(input_string):
    vowels = "aeiouAEIOU"  # List of vowels
    vowel_count = 0

    for char in input_string:
        if char in vowels:
            vowel_count += 1

    return vowel_count

# Get input from the user
user_input = input("Enter a string: ")

# Call the function to count vowels and print the result
vowel_count = count_vowels(user_input)
print("Number of vowels:", vowel_count)

Enter a string:  siddharth

Number of vowels: 2

q.6

In [7]:
def count_consonants(input_string):
    vowels = "aeiouAEIOU"  # List of vowels
    consonant_count = 0

    for char in input_string:
        if char.isalpha() and char not in vowels:
            consonant_count += 1

    return consonant_count

# Get input from the user
user_input = input("Enter a string: ")

# Call the function to count consonants and print the result
consonant_count = count_consonants(user_input)
print("Number of consonants:", consonant_count)

Enter a string:  siddharth

Number of consonants: 7

q.7

In [8]:
def remove_whitespace(input_string):
    return input_string.replace(" ", "")

# Get input from the user
user_input = input("Enter a string: ")

# Call the function to remove whitespace and print the result
no_whitespace_string = remove_whitespace(user_input)
print("String without whitespace:", no_whitespace_string)

Enter a string:  siddharth soni

String without whitespace: siddharthsoni

q.8

In [9]:
def string_length(input_string):
    count = 0
    for char in input_string:
        count += 1
    return count

# Get input from the user
user_input = input("Enter a string: ")

# Call the function to find the length and print the result
length = string_length(user_input)
print("Length of the string:", length)

Enter a string:  siddharth

Length of the string: 9

q.9

In [10]:
def contains_word(input_string, target_word):
    return target_word in input_string

# Get input from the user
user_input = input("Enter a string: ")
word_to_check = input("Enter the word to check: ")

# Call the function to check if the word is present and print the result
if contains_word(user_input, word_to_check):
    print("The string contains the word.")
else:
    print("The string does not contain the word.")

Enter a string:  Siddharth soni
Enter the word to check:  s

The string contains the word.

q.10

In [11]:
def replace_word(input_string, old_word, new_word):
    return input_string.replace(old_word, new_word)

# Get input from the user
user_input = input("Enter a string: ")
old_word = input("Enter the word to replace: ")
new_word = input("Enter the new word: ")

# Call the function to replace the word and print the result
new_string = replace_word(user_input, old_word, new_word)
print("Modified string:", new_string)

Enter a string:  Siddharth soni
Enter the word to replace:  h
Enter the new word:  a

Modified string: Siddaarta soni

q.11

In [12]:
def count_word_occurrences(input_string, target_word):
    return input_string.lower().count(target_word.lower())

# Get input from the user
user_input = input("Enter a string: ")
word_to_count = input("Enter the word to count: ")

# Call the function to count occurrences and print the result
occurrences = count_word_occurrences(user_input, word_to_count)
print("Number of occurrences:", occurrences)

Enter a string:  siddharth
Enter the word to count:  d

Number of occurrences: 2

q.12

In [13]:
def find_first_occurrence(input_string, target_word):
    return input_string.lower().find(target_word.lower())

# Get input from the user
user_input = input("Enter a string: ")
word_to_find = input("Enter the word to find: ")

# Call the function to find the first occurrence and print the result
first_occurrence_index = find_first_occurrence(user_input, word_to_find)

if first_occurrence_index != -1:
    print("First occurrence found at index:", first_occurrence_index)
else:
    print("Word not found in the string.")

Enter a string:  soni
Enter the word to find:  i

First occurrence found at index: 3

q.13

In [14]:
def find_last_occurrence(input_string, target_word):
    return input_string.lower().rfind(target_word.lower())

# Get input from the user
user_input = input("Enter a string: ")
word_to_find = input("Enter the word to find: ")

# Call the function to find the last occurrence and print the result
last_occurrence_index = find_last_occurrence(user_input, word_to_find)

if last_occurrence_index != -1:
    print("Last occurrence found at index:", last_occurrence_index)
else:
    print("Word not found in the string.")

Enter a string:  soni
Enter the word to find:  i

Last occurrence found at index: 3

q.14

In [15]:
def split_string(input_string):
    return input_string.split()

# Get input from the user
user_input = input("Enter a string: ")

# Call the function to split the string and print the result
word_list = split_string(user_input)
print("List of words:", word_list)

Enter a string:  soni

List of words: ['soni']

q.15

In [16]:
def join_words(word_list):
    return " ".join(word_list)

# Get input from the user
user_input = input("Enter a list of words separated by spaces: ")
word_list = user_input.split()  # Split the input into a list of words

# Call the function to join the words and print the result
joined_string = join_words(word_list)
print("Joined string:", joined_string)

Enter a list of words separated by spaces:  siddharth

Joined string: siddharth

q.16

In [17]:
def replace_spaces_with_underscores(input_string):
    return input_string.replace(" ", "_")

# Get input from the user
user_input = input("Enter a string with spaces between words: ")

# Call the function to replace spaces with underscores and print the result
underscored_string = replace_spaces_with_underscores(user_input)
print("String with underscores:", underscored_string)

Enter a string with spaces between words:  siddharth soni

String with underscores: siddharth_soni

q.17

In [18]:
def starts_with(input_string, prefix):
    return input_string.startswith(prefix)

# Get input from the user
user_input = input("Enter a string: ")
prefix_to_check = input("Enter the prefix to check: ")

# Call the function to check if the string starts with the prefix and print the result
if starts_with(user_input, prefix_to_check):
    print("The string starts with the prefix.")
else:
    print("The string does not start with the prefix.")

Enter a string:  siddharth soni
Enter the prefix to check:  d

The string does not start with the prefix.

q.18

In [19]:
def ends_with(input_string, suffix):
    return input_string.endswith(suffix)

# Get input from the user
user_input = input("Enter a string: ")
suffix_to_check = input("Enter the suffix to check: ")

# Call the function to check if the string ends with the suffix and print the result
if ends_with(user_input, suffix_to_check):
    print("The string ends with the suffix.")
else:
    print("The string does not end with the suffix.")

Enter a string:  siddharth soni
Enter the suffix to check:  s

The string does not end with the suffix.

q.19

In [20]:
def convert_to_title_case(input_string):
    words = input_string.split()  # Split the string into words
    title_case_words = [word.capitalize() for word in words]
    return " ".join(title_case_words)

# Get input from the user
user_input = input("Enter a string: ")

# Call the function to convert to title case and print the result
title_case_string = convert_to_title_case(user_input)
print("Title case string:", title_case_string)

Enter a string:  siddharth

Title case string: Siddharth

q.20

In [21]:
def find_longest_word(input_string):
    words = input_string.split()
    longest_word = max(words, key=len)
    return longest_word

# Get input from the user
user_input = input("Enter a string: ")

# Call the function to find the longest word and print the result
longest_word = find_longest_word(user_input)
print("Longest word:", longest_word)

Enter a string:  siddharth soni

Longest word: siddharth

q.21

In [22]:
def find_shortest_word(input_string):
    words = input_string.split()
    shortest_word = min(words, key=len)
    return shortest_word

# Get input from the user
user_input = input("Enter a string: ")

# Call the function to find the shortest word and print the result
shortest_word = find_shortest_word(user_input)
print("Shortest word:", shortest_word)

Enter a string:  siddharth soni

Shortest word: soni

q.22

In [23]:
def reverse_word_order(input_string):
    words = input_string.split()
    reversed_words = words[::-1]
    return " ".join(reversed_words)

# Get input from the user
user_input = input("Enter a string: ")

# Call the function to reverse the word order and print the result
reversed_string = reverse_word_order(user_input)
print("Reversed word order:", reversed_string)

Enter a string:  siddharth soni

Reversed word order: soni siddharth

q.23

In [24]:
import re

def is_alphanumeric(input_string):
    pattern = re.compile("^[a-zA-Z0-9]+$")
    return bool(pattern.match(input_string))

# Test cases
print(is_alphanumeric("Hello123"))  # True
print(is_alphanumeric("Hello 123"))  # False (contains a space)
print(is_alphanumeric("123456"))    # True
print(is_alphanumeric("Hello!"))    # False (contains a special character)

True
False
True
False

q.24

In [25]:
import re

def extract_digits(input_string):
    pattern = re.compile(r"\d+")
    return pattern.findall(input_string)

# Test case
string_with_digits = "I have 3 apples and 25 bananas."
digits = extract_digits(string_with_digits)
print(digits)  # Output: ['3', '25']

['3', '25']

q.25

In [26]:
import re

def extract_alphabets(input_string):
    pattern = re.compile(r"[a-zA-Z]+")
    return pattern.findall(input_string)

# Test case
string_with_alphabets = "There are 5 cats and 2 dogs."
alphabets = extract_alphabets(string_with_alphabets)
print(alphabets)  # Output: ['There', 'are', 'cats', 'and', 'dogs']

['There', 'are', 'cats', 'and', 'dogs']

q.26

In [1]:
import re

def count_uppercase_letters_regex(input_string):
    pattern = re.compile(r"[A-Z]")
    uppercase_letters = pattern.findall(input_string)
    return len(uppercase_letters)

# Test case
input_string = "Hello World! HOW ARE You?"
uppercase_count = count_uppercase_letters_regex(input_string)
print(uppercase_count)  # Output: 9

9

q.27

In [2]:
import re

def count_lowercase_letters_regex(input_string):
    pattern = re.compile(r"[a-z]")
    lowercase_letters = pattern.findall(input_string)
    return len(lowercase_letters)

# Test case
input_string = "Hello World! HOW ARE You?"
lowercase_count = count_lowercase_letters_regex(input_string)
print(lowercase_count)  # Output: 13

10

q.28

In [3]:
def swap_case(input_string):
    swapped_string = ""
    for char in input_string:
        if char.islower():
            swapped_string += char.upper()
        elif char.isupper():
            swapped_string += char.lower()
        else:
            swapped_string += char
    return swapped_string

# Test case
input_string = "Hello World! HOW ARE You?"
swapped_result = swap_case(input_string)
print(swapped_result)  # Output: hELLO wORLD! how are yOU?

hELLO wORLD! how are yOU?

In [4]:
input_string = "Hello World! HOW ARE You?"
swapped_result = input_string.swapcase()
print(swapped_result)  # Output: hELLO wORLD! how are yOU?

hELLO wORLD! how are yOU?

q.29

In [5]:
def remove_word(input_string, word_to_remove):
    return input_string.replace(word_to_remove, "")

# Test case
input_string = "This is an example sentence. This word should be removed."
word_to_remove = "This"
result = remove_word(input_string, word_to_remove)
print(result)

 is an example sentence.  word should be removed.

q.30

In [6]:
import re

def is_valid_email(email):
    pattern = re.compile(r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$')
    return bool(pattern.match(email))

# Test cases
print(is_valid_email("example@email.com"))  # True
print(is_valid_email("invalid_email"))     # False
print(is_valid_email("name@domain"))       # False

True
False
False

q.31

In [7]:
def extract_username(email):
    parts = email.split("@")
    if len(parts) == 2:
        return parts[0]
    else:
        return None

# Test cases
email_address = "example@email.com"
username = extract_username(email_address)
print(username)  # Output: "example"

invalid_email = "invalid_email"
invalid_username = extract_username(invalid_email)
print(invalid_username)  # Output: None

example
None

q.32

In [8]:
def extract_domain(email):
    parts = email.split("@")
    if len(parts) == 2:
        return parts[1]
    else:
        return None

# Test cases
email_address = "example@email.com"
domain = extract_domain(email_address)
print(domain)  # Output: "email.com"

invalid_email = "invalid_email"
invalid_domain = extract_domain(invalid_email)
print(invalid_domain)  # Output: None

email.com
None

q.33

In [9]:
import re

def replace_multiple_spaces(input_string):
    pattern = re.compile(r'\s+')
    return pattern.sub(' ', input_string)

# Test case
input_string = "This    is   an example     string with    extra spaces."
result = replace_multiple_spaces(input_string)
print(result)

This is an example string with extra spaces.

In [10]:
import re

def replace_multiple_spaces_only_spaces(input_string):
    pattern = re.compile(r' +')
    return pattern.sub(' ', input_string)

# Test case
input_string = "This    is   an example     string with    extra spaces."
result = replace_multiple_spaces_only_spaces(input_string)
print(result)

This is an example string with extra spaces.

q.34

In [11]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except:
        return False

# Test cases
url1 = "https://www.example.com"
url2 = "invalid_url"
url3 = "ftp://files.example.com"
url4 = "http://localhost:8080"
print(is_valid_url(url1))  # True
print(is_valid_url(url2))  # False
print(is_valid_url(url3))  # True
print(is_valid_url(url4))  # True

True
False
True
True

q.35

In [12]:
from urllib.parse import urlparse

def extract_protocol(url):
    result = urlparse(url)
    return result.scheme if result.scheme in ["http", "https"] else None

# Test cases
url1 = "https://www.example.com"
url2 = "ftp://files.example.com"
url3 = "invalid_url"
print(extract_protocol(url1))  # Output: "https"
print(extract_protocol(url2))  # Output: None
print(extract_protocol(url3))  # Output: None

https
None
None

q.36

In [13]:
def character_frequency(input_string):
    frequency = {}
    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency

# Test case
input_string = "hello world"
freq_dict = character_frequency(input_string)
print(freq_dict)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

q.37

In [14]:
import string

def remove_punctuation(input_string):
    translator = str.maketrans("", "", string.punctuation)
    return input_string.translate(translator)

# Test case
input_string = "Hello, world! How are you?"
result = remove_punctuation(input_string)
print(result)  # Output: "Hello world How are you"

Hello world How are you

q.38

In [15]:
def contains_only_digits(input_string):
    return input_string.isdigit()

# Test cases
string1 = "12345"
string2 = "123abc"
string3 = "   456  "
print(contains_only_digits(string1))  # True
print(contains_only_digits(string2))  # False
print(contains_only_digits(string3))  # False

True
False
False

q.39

In [16]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()

# Test cases
string1 = "Hello"
string2 = "Hello123"
string3 = "123"
print(contains_only_alphabets(string1))  # True
print(contains_only_alphabets(string2))  # False
print(contains_only_alphabets(string3))  # False

True
False
False

q.40

In [17]:
def string_to_list_iteration(input_string):
    char_list = []
    for char in input_string:
        char_list.append(char)
    return char_list

# Test case
input_string = "Hello, World!"
char_list = string_to_list_iteration(input_string)
print(char_list)  # Output: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [18]:
def string_to_list_builtin(input_string):
    return list(input_string)

# Test case
input_string = "Hello, World!"
char_list = string_to_list_builtin(input_string)
print(char_list)  # Output: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

q.41

In [19]:
def are_anagrams(str1, str2):
    # Remove spaces and convert to lowercase to make the comparison case-insensitive
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Check if the sorted characters of both strings are the same
    return sorted(str1) == sorted(str2)

# Test cases
string1 = "listen"
string2 = "silent"
string3 = "hello"
print(are_anagrams(string1, string2))  # True
print(are_anagrams(string1, string3))  # False

True
False

q.42

In [20]:
def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""

    for char in text:
        if char.isalpha():
            shifted_char = chr(((ord(char.lower()) - ord('a') + shift) % 26) + ord('a'))
            if char.isupper():
                shifted_char = shifted_char.upper()
            encrypted_text += shifted_char
        else:
            encrypted_text += char

    return encrypted_text

# Test case
plaintext = "Hello, World!"
shift = 3
encrypted_text = caesar_cipher_encrypt(plaintext, shift)
print(encrypted_text)  # Output: "Khoor, Zruog!"

Khoor, Zruog!

q.43

In [21]:
def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""

    for char in encrypted_text:
        if char.isalpha():
            shifted_char = chr(((ord(char.lower()) - ord('a') - shift) % 26) + ord('a'))
            if char.isupper():
                shifted_char = shifted_char.upper()
            decrypted_text += shifted_char
        else:
            decrypted_text += char

    return decrypted_text

# Test case
encrypted_text = "Khoor, Zruog!"
shift = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift)
print(decrypted_text)  # Output: "Hello, World!"

Hello, World!

q.44

In [22]:
def most_frequent_word(input_string):
    words = input_string.split()  # Tokenize into words
    word_count = {}
    
    for word in words:
        # Remove punctuation and convert to lowercase for case-insensitive comparison
        cleaned_word = word.strip('.,!?').lower()
        if cleaned_word in word_count:
            word_count[cleaned_word] += 1
        else:
            word_count[cleaned_word] = 1
    
    most_common_word = max(word_count, key=word_count.get, default=None)
    return most_common_word

# Test case
input_string = "This is a test. This test is just an example."
most_frequent = most_frequent_word(input_string)
print(most_frequent)  # Output: "this"

this

q.45

In [23]:
import re

def unique_words(input_string):
    words = re.findall(r'\b\w+\b', input_string.lower())  # Tokenize into words
    unique_word_set = set(words)  # Create a set of unique words
    return unique_word_set

# Test case
input_string = "This is a test. This test is just an example."
unique_words_set = unique_words(input_string)
print(unique_words_set)

{'is', 'test', 'example', 'this', 'an', 'a', 'just'}

q.46

In [24]:
def count_syllables(word):
    vowels = "aeiouAEIOU"
    count = 0
    prev_char_vowel = False

    for char in word:
        if char in vowels:
            if not prev_char_vowel:
                count += 1
            prev_char_vowel = True
        else:
            prev_char_vowel = False

    # Adjust for silent 'e' at the end
    if word.endswith('e') and count > 1:
        count -= 1

    return max(count, 1)  # Ensure at least one syllable

def total_syllables(input_string):
    words = input_string.split()
    total = sum(count_syllables(word) for word in words)
    return total

# Test case
input_string = "This is a test sentence."
syllable_count = total_syllables(input_string)
print(syllable_count)  # Output: 7

7

q.47

In [25]:
import re

def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?\'\"\\|\/\-]')
    return bool(pattern.search(input_string))

# Test cases
string1 = "Hello World!"
string2 = "Hello123"
string3 = "Hello@123"
print(contains_special_characters(string1))  # True
print(contains_special_characters(string2))  # False
print(contains_special_characters(string3))  # True

True
False
True

q.48

In [26]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    
    if n >= 1 and n <= len(words):
        del words[n - 1]  # Subtract 1 to convert to zero-based index
        return ' '.join(words)
    else:
        return input_string

# Test case
input_string = "This is an example sentence."
n = 3
result = remove_nth_word(input_string, n)
print(result)  # Output: "This is example sentence."

This is example sentence.

q.49

In [27]:
def insert_word_at_nth_position(input_string, word, n):
    words = input_string.split()
    
    if n >= 0 and n <= len(words):
        words.insert(n, word)
        return ' '.join(words)
    else:
        return input_string

# Test case
input_string = "This is an example sentence."
word_to_insert = "new"
n = 3
result = insert_word_at_nth_position(input_string, word_to_insert, n)
print(result)  # Output: "This is an new example sentence."

This is an new example sentence.

q.50

In [28]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    csv_list = []
    csv_reader = csv.reader(StringIO(csv_string))
    
    for row in csv_reader:
        csv_list.append(row)
    
    return csv_list

# Test case
csv_string = "1,John,Doe\n2,Jane,Smith\n3,James,Brown"
csv_list = csv_string_to_list(csv_string)
print(csv_list)

[['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'James', 'Brown']]

using string splitting

In [29]:
def csv_string_to_list_split(csv_string):
    csv_list = []
    lines = csv_string.strip().split('\n')
    
    for line in lines:
        values = line.split(',')
        csv_list.append(values)
    
    return csv_list

# Test case
csv_string = "1,John,Doe\n2,Jane,Smith\n3,James,Brown"
csv_list = csv_string_to_list_split(csv_string)
print(csv_list)

[['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'James', 'Brown']]

List based practice problem

q.1  Create a list with integers from 1 to 10.

In [1]:
# Create a list of integers from 1 to 10
integer_list = list(range(1, 11))

# Print the list
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

q.2  Find the length of a list without using the `len()` function.

In [2]:
# Create a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Initialize a counter
length = 0

# Iterate through the list and increment the counter for each element
for _ in my_list:
    length += 1

# Print the length of the list
print("Length of the list:", length)

Length of the list: 10

q.3 Append an element to the end of a list.

In [3]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Append an element to the end of the list
my_list.append(6)

# Print the updated list
print(my_list)

[1, 2, 3, 4, 5, 6]

q.4 Insert an element at a specific index in a list.

In [4]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Insert an element (e.g., 10) at index 2
my_list.insert(2, 10)

# Print the updated list
print(my_list)

[1, 2, 10, 3, 4, 5]

q.5 Remove an element from a list by its value.

In [5]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Remove an element (e.g., 3) from the list
my_list.remove(3)

# Print the updated list
print(my_list)

[1, 2, 4, 5]

q.6 Remove an element from a list by its index.

In [6]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Remove an element at index 2
removed_element = my_list.pop(2)

# Print the updated list and the removed element
print("Updated list:", my_list)
print("Removed element:", removed_element)

Updated list: [1, 2, 4, 5]
Removed element: 3

q.7 Check if an element exists in a list.

In [7]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Check if an element (e.g., 3) exists in the list
element_to_check = 3
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

q.8 Find the index of the first occurrence of an element in a list.

In [8]:
# Create a list
my_list = [1, 2, 3, 4, 3, 5]

# Find the index of the first occurrence of an element (e.g., 3)
element_to_find = 3
index = my_list.index(element_to_find)

print(f"The index of {element_to_find} is: {index}")

The index of 3 is: 2

q.9 Count the occurrences of an element in a list.

In [9]:
# Create a list
my_list = [1, 2, 3, 4, 3, 5, 3]

# Count the occurrences of an element (e.g., 3)
element_to_count = 3
count = my_list.count(element_to_count)

print(f"The element {element_to_count} appears {count} times in the list.")

The element 3 appears 3 times in the list.

q.10 Reverse the order of elements in a list.

In [10]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Reverse the order of elements in the list
my_list.reverse()

# Print the reversed list
print(my_list)

[5, 4, 3, 2, 1]

q.11 Sort a list in ascending order.

In [11]:
# Create a list
my_list = [5, 2, 8, 1, 3]

# Sort the list in ascending order
my_list.sort()

# Print the sorted list
print(my_list)

[1, 2, 3, 5, 8]

q.12 Sort a list in descending order.

In [12]:
# Create a list
my_list = [5, 2, 8, 1, 3]

# Sort the list in descending order
my_list.sort(reverse=True)

# Print the sorted list in descending order
print(my_list)

[8, 5, 3, 2, 1]

q.13 Create a list of even numbers from 1 to 20.

In [13]:
# Create a list of even numbers from 1 to 20 using list comprehension
even_numbers = [x for x in range(1, 21) if x % 2 == 0]

# Print the list of even numbers
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

q.14 Create a list of odd numbers from 1 to 20.

In [14]:
# Create a list of odd numbers from 1 to 20 using list comprehension
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]

# Print the list of odd numbers
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

q.15 Find the sum of all elements in a list.

In [15]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Calculate the sum of all elements in the list
sum_of_elements = sum(my_list)

# Print the sum
print("Sum of elements:", sum_of_elements)

Sum of elements: 15

q.16 Find the maximum value in a list.

In [16]:
# Create a list
my_list = [4, 9, 2, 7, 5]

# Find the maximum value in the list
max_value = max(my_list)

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 9

q.17 Find the minimum value in a list.

In [17]:
# Create a list
my_list = [4, 9, 2, 7, 5]

# Find the minimum value in the list
min_value = min(my_list)

# Print the minimum value
print("Minimum value:", min_value)

Minimum value: 2

q.18 Create a list of squares of numbers from 1 to 10.

In [18]:
# Create a list of squares of numbers from 1 to 10 using list comprehension
squares_list = [x ** 2 for x in range(1, 11)]

# Print the list of squares
print(squares_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

q.19 Create a list of random numbers.

In [19]:
import random

# Create a list of 10 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(10)]

# Print the list of random numbers
print(random_numbers)

[10, 88, 98, 10, 10, 67, 21, 62, 41, 46]

q.20 Remove duplicates from a list.

In [20]:
# Create a list with duplicates
my_list = [2, 4, 6, 2, 8, 6, 10, 4]

# Remove duplicates using the set() function
unique_list = list(set(my_list))

# Print the list with duplicates removed
print(unique_list)

[2, 4, 6, 8, 10]

In [21]:
#Using a loop (maintains the original order of elements):

In [22]:
# Create a list with duplicates
my_list = [2, 4, 6, 2, 8, 6, 10, 4]

# Remove duplicates using a loop
unique_list = []
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)

# Print the list with duplicates removed
print(unique_list)

[2, 4, 6, 8, 10]

q.21 Find the common elements between two lists.

In [23]:
# Create two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find the common elements using sets
common_elements = list(set(list1).intersection(list2))

# Print the common elements
print(common_elements)

[3, 4, 5]

q.22 Find the difference between two lists.

In [24]:
# Create two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find the difference between the lists using sets
difference_list = list(set(list1) - set(list2))

# Print the difference list
print(difference_list)

[1, 2]

q.23 Merge two lists.

In [25]:
# Create two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the two lists
merged_list = list1 + list2

# Print the merged list
print(merged_list)

[1, 2, 3, 4, 5, 6]

q.24 Multiply all elements in a list by 2.

In [26]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Multiply all elements in the list by 2 using a list comprehension
multiplied_list = [x * 2 for x in my_list]

# Print the multiplied list
print(multiplied_list)

[2, 4, 6, 8, 10]

q.25 Filter out all even numbers from a list.

In [27]:
# Create a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter out even numbers from the list using a list comprehension
filtered_list = [x for x in my_list if x % 2 != 0]

# Print the filtered list
print(filtered_list)

[1, 3, 5, 7, 9]

q.26 Convert a list of strings to a list of integers.

In [28]:
#Using a list comprehension:

In [29]:
string_list = ["1", "2", "3", "4", "5"]
integer_list = [int(x) for x in string_list]
print(integer_list)

[1, 2, 3, 4, 5]

In [30]:
#Using a loop:

In [31]:
string_list = ["1", "2", "3", "4", "5"]
integer_list = []
for x in string_list:
    integer_list.append(int(x))
print(integer_list)

[1, 2, 3, 4, 5]

q.27 Convert a list of integers to a list of strings.

In [32]:
#Using a list comprehension:

In [33]:
integer_list = [1, 2, 3, 4, 5]
string_list = [str(x) for x in integer_list]
print(string_list)

['1', '2', '3', '4', '5']

In [34]:
#Using a loop:

In [35]:
integer_list = [1, 2, 3, 4, 5]
string_list = []
for x in integer_list:
    string_list.append(str(x))
print(string_list)

['1', '2', '3', '4', '5']

q.28 Flatten a nested list.

In [36]:
#Using recursion:

In [37]:
def flatten_nested_list(nested_list):
    flattened_list = []
    for item in nested_list:
        if isinstance(item, list):
            flattened_list.extend(flatten_nested_list(item))
        else:
            flattened_list.append(item)
    return flattened_list

nested_list = [1, [2, 3], [4, [5, 6]], 7]
flattened = flatten_nested_list(nested_list)
print(flattened)

[1, 2, 3, 4, 5, 6, 7]

In [38]:
#Using an iterative approach:

In [39]:
def flatten_nested_list(nested_list):
    flattened_list = []
    stack = [nested_list]

    while stack:
        current = stack.pop()
        if isinstance(current, list):
            stack.extend(reversed(current))
        else:
            flattened_list.append(current)

    return flattened_list

nested_list = [1, [2, 3], [4, [5, 6]], 7]
flattened = flatten_nested_list(nested_list)
print(flattened)

[1, 2, 3, 4, 5, 6, 7]

q.29 Create a list of the first 10 Fibonacci numbers.

In [40]:
fibonacci_list = [0, 1]
while len(fibonacci_list) < 10:
    next_number = fibonacci_list[-1] + fibonacci_list[-2]
    fibonacci_list.append(next_number)

print(fibonacci_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

q.30 Check if a list is sorted.

In [41]:
def is_sorted(lst):
    for i in range(len(lst) - 1):
        if lst[i] > lst[i + 1]:
            return False
    return True

# Example lists
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [3, 1, 4, 2, 5]

print(is_sorted(sorted_list))   # Output: True
print(is_sorted(unsorted_list)) # Output: False

True
False

q.31 Rotate a list to the left by `n` positions.

In [42]:
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n in case it's larger than the list length
    rotated = lst[n:] + lst[:n]
    return rotated

original_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate

rotated_list = rotate_left(original_list, n)
print(rotated_list)  # Output: [3, 4, 5, 1, 2]

[3, 4, 5, 1, 2]

q.32 Rotate a list to the right by `n` positions.

In [43]:
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n in case it's larger than the list length
    rotated = lst[-n:] + lst[:-n]
    return rotated

original_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate

rotated_list = rotate_right(original_list, n)
print(rotated_list)  # Output: [4, 5, 1, 2, 3]

[4, 5, 1, 2, 3]

q.33 Create a list of prime numbers up to 50.

In [44]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

q.34 Split a list into chunks of size `n`.

In [45]:
def split_into_chunks(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

# Example usage
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
chunks = split_into_chunks(original_list, chunk_size)

print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

q.35 Find the second largest number in a list.

In [46]:
def second_largest(lst):
    if len(lst) < 2:
        return None

    largest = second = float('-inf')

    for num in lst:
        if num > largest:
            second = largest
            largest = num
        elif num > second and num != largest:
            second = num

    return second

# Example usage
numbers = [10, 5, 8, 20, 15]
result = second_largest(numbers)

if result is not None:
    print("The second largest number is:", result)
else:
    print("The list doesn't have a second largest number.")

The second largest number is: 15

q.36 Replace every element in a list with its square.

In [47]:
def square_elements(lst):
    return [num ** 2 for num in lst]

# Example usage
original_list = [2, 3, 4, 5, 6]
squared_list = square_elements(original_list)

print("Original List:", original_list)
print("List with Squares:", squared_list)

Original List: [2, 3, 4, 5, 6]
List with Squares: [4, 9, 16, 25, 36]

q.37 Convert a list to a dictionary where list elements become keys and their
indices become values.

In [48]:
def list_to_dict(lst):
    return {value: index for index, value in enumerate(lst)}

# Example usage
original_list = ['apple', 'banana', 'orange', 'grape']
result_dict = list_to_dict(original_list)

print("Original List:", original_list)
print("Dictionary:", result_dict)

Original List: ['apple', 'banana', 'orange', 'grape']
Dictionary: {'apple': 0, 'banana': 1, 'orange': 2, 'grape': 3}

q.38 Shuffle the elements of a list randomly.

In [49]:
import random

def shuffle_list(lst):
    shuffled = lst.copy()
    random.shuffle(shuffled)
    return shuffled

# Example usage
original_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(original_list)

print("Original List:", original_list)
print("Shuffled List:", shuffled_list)

Original List: [1, 2, 3, 4, 5]
Shuffled List: [3, 5, 4, 1, 2]

q.39 Create a list of the first 10 factorial numbers.

In [50]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

factorial_numbers = [factorial(i) for i in range(10)]

print("First 10 Factorial Numbers:", factorial_numbers)

First 10 Factorial Numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

q.40 Check if two lists have at least one element in common.

In [51]:
def have_common_element(list1, list2):
    return any(item in list2 for item in list1)

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]
list3 = [10, 11, 12]

print("List 1 and List 2 have common elements:", have_common_element(list1, list2))
print("List 1 and List 3 have common elements:", have_common_element(list1, list3))

List 1 and List 2 have common elements: True
List 1 and List 3 have common elements: False

q.41 Remove all elements from a list.

In [52]:
#Using the clear() method:

In [53]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()

print("List after clearing:", my_list)  # Output: List after clearing: []

List after clearing: []

In [54]:
#Reassigning an empty list to the original list:

In [55]:
my_list = [1, 2, 3, 4, 5]
my_list = []

print("List after clearing:", my_list)  # Output: List after clearing: []

List after clearing: []

q.42 Replace negative numbers in a list with 0.

In [56]:
original_list = [1, -2, 3, -4, 5, -6]

updated_list = [0 if num < 0 else num for num in original_list]

print("Original List:", original_list)
print("Updated List:", updated_list)

Original List: [1, -2, 3, -4, 5, -6]
Updated List: [1, 0, 3, 0, 5, 0]

q.43 Convert a string into a list of words.

In [57]:
sentence = "This is an example sentence."
words_list = sentence.split()

print("Original Sentence:", sentence)
print("List of Words:", words_list)

Original Sentence: This is an example sentence.
List of Words: ['This', 'is', 'an', 'example', 'sentence.']

q.44 Convert a list of words into a string.

In [58]:
words_list = ['This', 'is', 'an', 'example', 'sentence.']
sentence = ' '.join(words_list)

print("List of Words:", words_list)
print("Joined Sentence:", sentence)

List of Words: ['This', 'is', 'an', 'example', 'sentence.']
Joined Sentence: This is an example sentence.

q.45 Create a list of the first `n` powers of 2.

In [59]:
n = 5  # Change this value to the desired number of powers of 2

powers_of_2 = [2 ** i for i in range(n)]

print("List of the first", n, "powers of 2:", powers_of_2)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

q.46 Find the longest string in a list of strings.

In [60]:
def find_longest_string(strings):
    longest_string = ""
    
    for string in strings:
        if len(string) > len(longest_string):
            longest_string = string
            
    return longest_string

# Example usage
string_list = ["apple", "banana", "kiwi", "strawberry", "orange"]
longest = find_longest_string(string_list)
print("Longest string:", longest)

Longest string: strawberry

q.47 Find the shortest string in a list of strings.

In [61]:
def find_shortest_string(strings):
    shortest_string = None
    
    for string in strings:
        if shortest_string is None or len(string) < len(shortest_string):
            shortest_string = string
            
    return shortest_string

# Example usage
string_list = ["apple", "banana", "kiwi", "strawberry", "orange"]
shortest = find_shortest_string(string_list)
print("Shortest string:", shortest)

Shortest string: kiwi

q.48 Create a list of the first `n` triangular numbers.

In [62]:
def generate_triangular_numbers(n):
    triangular_numbers = []
    
    for i in range(1, n + 1):
        triangular_numbers.append(i * (i + 1) // 2)
        
    return triangular_numbers

# Example usage
n = 5
triangular_list = generate_triangular_numbers(n)
print("First", n, "triangular numbers:", triangular_list)

First 5 triangular numbers: [1, 3, 6, 10, 15]

q.49 Check if a list contains another list as a subsequence.

In [63]:
def is_subsequence(subsequence, main_list):
    sub_len = len(subsequence)
    main_len = len(main_list)
    
    if sub_len > main_len:
        return False
    
    sub_index = 0
    
    for element in main_list:
        if sub_index == sub_len:
            break
        if element == subsequence[sub_index]:
            sub_index += 1
            
    return sub_index == sub_len

# Example usage
main_list = [1, 2, 3, 4, 5, 6, 7, 8]
subsequence1 = [2, 4, 6]
subsequence2 = [3, 5, 7]
subsequence3 = [1, 3, 5]

print(is_subsequence(subsequence1, main_list))  # True
print(is_subsequence(subsequence2, main_list))  # True
print(is_subsequence(subsequence3, main_list))  # False

True
True
True

q.50 Swap two elements in a list by their indices.

In [64]:
def swap_elements_by_indices(lst, index1, index2):
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        lst[index1], lst[index2] = lst[index2], lst[index1]

# Example usage
my_list = [1, 2, 3, 4, 5]
print("Original list:", my_list)

swap_elements_by_indices(my_list, 1, 3)
print("After swapping:", my_list)

Original list: [1, 2, 3, 4, 5]
After swapping: [1, 4, 3, 2, 5]

Tuple based practice problem

q.1 Create a tuple with integers from 1 to 5.

In [1]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

q.2 Access the third element of a tuple.

In [2]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]
print(third_element)

3

q.3 Find the length of a tuple without using the `len()` function.

In [3]:
my_tuple = (1, 2, 3, 4, 5)
count = 0

for _ in my_tuple:
    count += 1

print("Length of the tuple:", count)

Length of the tuple: 5

q.4 Count the occurrences of an element in a tuple.

In [4]:
my_tuple = (1, 2, 2, 3, 4, 2, 5)
element_to_count = 2
count = 0

for item in my_tuple:
    if item == element_to_count:
        count += 1

print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 2 appears 3 times in the tuple.

q.5 Find the index of the first occurrence of an element in a tuple.

In [5]:
my_tuple = (10, 20, 30, 40, 50, 20)
element_to_find = 20

index = my_tuple.index(element_to_find)
print("Index of the first occurrence:", index)

Index of the first occurrence: 1

q.6 Check if an element exists in a tuple.

In [6]:
my_tuple = (10, 20, 30, 40, 50)
element_to_check = 30

if element_to_check in my_tuple:
    print("Element exists in the tuple.")
else:
    print("Element does not exist in the tuple.")

Element exists in the tuple.

q.7 Convert a tuple to a list.

In [7]:
my_tuple = (10, 20, 30, 40, 50)
my_list = list(my_tuple)

print(my_list)

[10, 20, 30, 40, 50]

q.8 Convert a list to a tuple.

In [8]:
my_list = [10, 20, 30, 40, 50]
my_tuple = tuple(my_list)

print(my_tuple)

(10, 20, 30, 40, 50)

q.9 Unpack the elements of a tuple into variables.

In [9]:
my_tuple = (10, 20, 30)
a, b, c = my_tuple

print("a:", a)
print("b:", b)
print("c:", c)

a: 10
b: 20
c: 30

q.10 Create a tuple of even numbers from 1 to 10.

In [10]:
even_numbers_tuple = (2, 4, 6, 8, 10)
print(even_numbers_tuple)

(2, 4, 6, 8, 10)

In [11]:
even_numbers_list = [x for x in range(2, 11, 2)]  # Generates even numbers from 2 to 10
even_numbers_tuple = tuple(even_numbers_list)
print(even_numbers_tuple)

(2, 4, 6, 8, 10)

q.11 Create a tuple of odd numbers from 1 to 10.

In [12]:
odd_numbers_tuple = (1, 3, 5, 7, 9)
print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

In [13]:
odd_numbers_list = [x for x in range(1, 11, 2)]  # Generates odd numbers from 1 to 9
odd_numbers_tuple = tuple(odd_numbers_list)
print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

q.12 Concatenate two tuples.

In [14]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2

print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

q.13 Repeat a tuple three times.

In [15]:
original_tuple = (1, 2, 3)
repeated_tuple = original_tuple * 3

print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

q.14 Check if a tuple is empty.

In [16]:
my_tuple = ()

if not my_tuple:
    print("Tuple is empty.")
else:
    print("Tuple is not empty.")

Tuple is empty.

q.15 Create a nested tuple.

In [17]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

q.16 Access the first element of a nested tuple.

In [18]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

first_element = nested_tuple[0][0]

print("First element of the nested tuple:", first_element)

First element of the nested tuple: 1

q.17 Create a tuple with a single element.

In [19]:
single_element_tuple = (42,)
print(single_element_tuple)

(42,)

q.18 Compare two tuples.

In [20]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

print("tuple1 == tuple2:", tuple1 == tuple2)  # True
print("tuple1 != tuple3:", tuple1 != tuple3)  # True
print("tuple1 < tuple3:", tuple1 < tuple3)    # True
print("tuple2 >= tuple1:", tuple2 >= tuple1)  # True

tuple1 == tuple2: True
tuple1 != tuple3: True
tuple1 < tuple3: True
tuple2 >= tuple1: True

q.19 Delete a tuple.

In [22]:
my_tuple = (1, 2, 3)
del my_tuple

# This will raise a NameError because the tuple no longer exists
print(my_tuple)

NameError: name 'my_tuple' is not defined

q.20 Slice a tuple.

In [1]:
tuple_name[start_index:end_index]

NameError: name 'tuple_name' is not defined

In [2]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Slice from index 2 to index 5 (inclusive:exclusive)
sliced_tuple = my_tuple[2:6]
print(sliced_tuple)  # Output: (3, 4, 5, 6)

(3, 4, 5, 6)

In [3]:
# Slice from the beginning to index 3 (exclusive)
sliced_tuple_beginning = my_tuple[:4]
print(sliced_tuple_beginning)  # Output: (1, 2, 3, 4)

# Slice from index 7 to the end
sliced_tuple_end = my_tuple[7:]
print(sliced_tuple_end)  # Output: (8, 9, 10)

(1, 2, 3, 4)
(8, 9, 10)

q.21 Find the maximum value in a tuple.

In [4]:
my_tuple = (15, 7, 32, 19, 8, 25)

max_value = max(my_tuple)
print("The maximum value in the tuple is:", max_value)

The maximum value in the tuple is: 32

q.22 Find the minimum value in a tuple.

In [5]:
my_tuple = (15, 7, 32, 19, 8, 25)

min_value = min(my_tuple)
print("The minimum value in the tuple is:", min_value)

The minimum value in the tuple is: 7

q.23 Convert a string to a tuple of characters.

In [6]:
my_string = "Hello, World!"

# Convert the string to a tuple of characters
char_tuple = tuple(my_string)

print(char_tuple)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

q.24 Convert a tuple of characters to a string.

In [7]:
char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Convert the tuple of characters to a string
my_string = ''.join(char_tuple)

print(my_string)

Hello, World!

q.25 Create a tuple from multiple data types.

In [8]:
mixed_tuple = (42, "hello", 3.14, [1, 2, 3], {'a': 1, 'b': 2})

print(mixed_tuple)

(42, 'hello', 3.14, [1, 2, 3], {'a': 1, 'b': 2})

q.26 Check if two tuples are identical.

In [9]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (3, 2, 1)

# Check if tuple1 and tuple2 are identical
if tuple1 == tuple2:
    print("tuple1 and tuple2 are identical")
else:
    print("tuple1 and tuple2 are not identical")

# Check if tuple1 and tuple3 are identical
if tuple1 == tuple3:
    print("tuple1 and tuple3 are identical")
else:
    print("tuple1 and tuple3 are not identical")

tuple1 and tuple2 are identical
tuple1 and tuple3 are not identical

q.27 Sort the elements of a tuple.

In [10]:
my_tuple = (4, 1, 6, 3, 7, 2, 5)

# Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

print(sorted_tuple)

(1, 2, 3, 4, 5, 6, 7)

q.28 Convert a tuple of integers to a tuple of strings.

In [11]:
#Using List Comprehension:

In [12]:
integer_tuple = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings using list comprehension
string_tuple = tuple(str(i) for i in integer_tuple)

print(string_tuple)

('1', '2', '3', '4', '5')

In [13]:
#Using map() function:

In [14]:
integer_tuple = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings using map() and lambda function
string_tuple = tuple(map(str, integer_tuple))

print(string_tuple)

('1', '2', '3', '4', '5')

q.29 Convert a tuple of strings to a tuple of integers.

In [15]:
string_tuple = ('1', '2', '3', '4', '5')

# Convert the tuple of strings to a tuple of integers using map() and int()
integer_tuple = tuple(map(int, string_tuple))

print(integer_tuple)

(1, 2, 3, 4, 5)

q.30 Merge two tuples.

In [16]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

merged_tuple = tuple1 + tuple2

print(merged_tuple)

(1, 2, 3, 4, 5, 6)

q.31 Flatten a nested tuple.

In [1]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return tuple(flattened)

# Example nested tuple
nested_tuple = (1, (2, 3), (4, (5, 6)), 7)
flattened_tuple = flatten_tuple(nested_tuple)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7)

q.32 Create a tuple of the first 5 prime numbers.

In [2]:
prime_numbers_tuple = (2, 3, 5, 7, 11)
print(prime_numbers_tuple)

(2, 3, 5, 7, 11)

q.33 Check if a tuple is a palindrome.

In [3]:
def is_tuple_palindrome(t):
    return t == t[::-1]

# Test cases
tuple1 = (1, 2, 3, 2, 1)
tuple2 = (1, 2, 3, 4, 5)

print(is_tuple_palindrome(tuple1))  # True, as it's a palindrome
print(is_tuple_palindrome(tuple2))  # False, as it's not a palindrome

True
False

q.34 Create a tuple of squares of numbers from 1 to 5.

In [4]:
squares_tuple = (1**2, 2**2, 3**2, 4**2, 5**2)
print(squares_tuple)

(1, 4, 9, 16, 25)

q.35 Filter out all even numbers from a tuple.

In [5]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

print(filtered_tuple)

(1, 3, 5, 7, 9)

q.36 Multiply all elements in a tuple by 2.

In [6]:
original_tuple = (1, 2, 3, 4, 5)

doubled_tuple = tuple(x * 2 for x in original_tuple)

print(doubled_tuple)

(2, 4, 6, 8, 10)

q.37 Create a tuple of random numbers.

In [7]:
import random

num_elements = 5  # Number of random elements
min_value = 1     # Minimum value for random numbers
max_value = 100   # Maximum value for random numbers

random_numbers_tuple = tuple(random.randint(min_value, max_value) for _ in range(num_elements))

print(random_numbers_tuple)

(91, 98, 18, 31, 28)

q.38 Check if a tuple is sorted.

In [8]:
def is_tuple_sorted(t):
    return all(t[i] <= t[i + 1] for i in range(len(t) - 1))

# Test cases
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 2, 9, 1, 7)

print(is_tuple_sorted(sorted_tuple))     # True, as it's sorted
print(is_tuple_sorted(unsorted_tuple))   # False, as it's not sorted

True
False

q.39 Rotate a tuple to the left by `n` positions.

In [10]:
def rotate_tuple_left(t, n):
    n %= len(t)  # Ensure n is within the range of the tuple length
    return t[n:] + t[:n]

# Test case
original_tuple = (1, 2, 3, 4, 5)
n_positions = 2

rotated_tuple = rotate_tuple_left(original_tuple, n_positions)
print(rotated_tuple)

(3, 4, 5, 1, 2)

q.40 Rotate a tuple to the right by `n` positions.

In [11]:
def rotate_tuple_right(t, n):
    n %= len(t)  # Ensure n is within the range of the tuple length
    return t[-n:] + t[:-n]

# Test case
original_tuple = (1, 2, 3, 4, 5)
n_positions = 2

rotated_tuple = rotate_tuple_right(original_tuple, n_positions)
print(rotated_tuple)

(4, 5, 1, 2, 3)

q.41 Create a tuple of the first 5 Fibonacci numbers.

In [12]:
def generate_fibonacci(n):
    fibonacci = [0, 1]
    for i in range(2, n):
        fibonacci.append(fibonacci[i - 1] + fibonacci[i - 2])
    return tuple(fibonacci)

# Get the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

q.42 Create a tuple from user input.

In [13]:
user_input = input("Enter a sequence of values separated by spaces: ")
user_values = user_input.split()  # Split the input into individual values
user_tuple = tuple(user_values)    # Convert the list of values into a tuple

print("User input as tuple:", user_tuple)

Enter a sequence of values separated by spaces:  siddharth soni

User input as tuple: ('siddharth', 'soni')

q.43 Swap two elements in a tuple.

In [14]:
def swap_elements(t, index1, index2):
    # Convert the tuple to a list to modify it
    t_list = list(t)
    
    # Swap the elements at the specified indices
    t_list[index1], t_list[index2] = t_list[index2], t_list[index1]
    
    # Convert the list back to a tuple
    swapped_tuple = tuple(t_list)
    return swapped_tuple

# Test case
original_tuple = (1, 2, 3, 4, 5)
index_to_swap1 = 1
index_to_swap2 = 3

swapped_tuple = swap_elements(original_tuple, index_to_swap1, index_to_swap2)
print(swapped_tuple)

(1, 4, 3, 2, 5)

q.44 Reverse the elements of a tuple.

In [15]:
def reverse_tuple(t):
    reversed_tuple = tuple(reversed(t))
    return reversed_tuple

# Test case
original_tuple = (1, 2, 3, 4, 5)

reversed_tuple = reverse_tuple(original_tuple)
print(reversed_tuple)

(5, 4, 3, 2, 1)

q.45 Create a tuple of the first `n` powers of 2.

In [16]:
def powers_of_2(n):
    return tuple(2 ** i for i in range(n))

# Test case
n = 5

powers_tuple = powers_of_2(n)
print(powers_tuple)

(1, 2, 4, 8, 16)

q.46 Find the longest string in a tuple of strings.

In [17]:
def find_longest_string(strings_tuple):
    longest_string = ""
    for string in strings_tuple:
        if len(string) > len(longest_string):
            longest_string = string
    return longest_string

# Test case
strings_tuple = ("apple", "banana", "cherry", "date", "elderberry")

longest = find_longest_string(strings_tuple)
print("Longest string:", longest)

Longest string: elderberry

q.47 Find the shortest string in a tuple of strings.

In [18]:
def find_shortest_string(strings_tuple):
    shortest_string = None
    for string in strings_tuple:
        if shortest_string is None or len(string) < len(shortest_string):
            shortest_string = string
    return shortest_string

# Test case
strings_tuple = ("apple", "banana", "cherry", "date", "elderberry")

shortest = find_shortest_string(strings_tuple)
print("Shortest string:", shortest)

Shortest string: date

q.48 Create a tuple of the first `n` triangular numbers.

In [19]:
def triangular_numbers(n):
    return tuple(i * (i + 1) // 2 for i in range(1, n + 1))

# Test case
n = 5

triangular_tuple = triangular_numbers(n)
print(triangular_tuple)

(1, 3, 6, 10, 15)

q.49 Check if a tuple contains another tuple as a subsequence.

In [20]:
def contains_subtuple(main_tuple, sub_tuple):
    main_len = len(main_tuple)
    sub_len = len(sub_tuple)

    for i in range(main_len - sub_len + 1):
        if main_tuple[i:i + sub_len] == sub_tuple:
            return True

    return False

# Test cases
main_tuple = (1, 2, 3, 4, 5, 6)
sub_tuple1 = (2, 3)
sub_tuple2 = (4, 5, 6, 7)

print(contains_subtuple(main_tuple, sub_tuple1))  # True, as (2, 3) is a subsequence
print(contains_subtuple(main_tuple, sub_tuple2))  # False, as (4, 5, 6, 7) is not a subsequence

True
False

q.50 Create a tuple of alternating 1s and 0s of length `n`.

In [21]:
def alternating_tuple(n):
    return tuple(i % 2 for i in range(n))

# Test case
n = 10

alternating = alternating_tuple(n)
print(alternating)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set based practice problem 

q.1 Create a set with integers from 1 to 5.

In [22]:
# Create a set with integers from 1 to 5
integer_set = {1, 2, 3, 4, 5}

# Print the set
print(integer_set)

{1, 2, 3, 4, 5}

q.2 Add an element to a set.

In [23]:
# Create a set
my_set = {1, 2, 3}

# Add an element to the set
my_set.add(4)

# Print the updated set
print(my_set)

{1, 2, 3, 4}

q.3 Remove an element from a set.

In [24]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove an element using the remove() method
my_set.remove(3)
print(my_set)  # Output: {1, 2, 4, 5}

# Remove an element using the discard() method
my_set.discard(5)
print(my_set)  # Output: {1, 2, 4}

{1, 2, 4, 5}
{1, 2, 4}

q.4 Check if an element exists in a set.

In [25]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Check if an element exists in the set
element_to_check = 3
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

q.5 Find the length of a set without using the `len()` function.

In [26]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Find the length of the set without using len()
length = 0
for _ in my_set:
    length += 1

print("Length of the set:", length)

Length of the set: 5

q.6 Clear all elements from a set.

In [27]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Clear all elements from the set
my_set.clear()

# Print the set after clearing
print(my_set)  # Output: set()

set()

q.7 Create a set of even numbers from 1 to 10.

In [28]:
# Create an empty set to store even numbers
even_numbers = set()

# Loop through numbers from 1 to 10
for num in range(1, 11):
    if num % 2 == 0:
        even_numbers.add(num)

# Print the set of even numbers
print(even_numbers)

{2, 4, 6, 8, 10}

q.8 Create a set of odd numbers from 1 to 10.

In [29]:
# Create an empty set to store odd numbers
odd_numbers = set()

# Loop through numbers from 1 to 10
for num in range(1, 11):
    if num % 2 != 0:
        odd_numbers.add(num)

# Print the set of odd numbers
print(odd_numbers)

{1, 3, 5, 7, 9}

q.9 Find the union of two sets.

In [30]:
#Using the union() method

In [31]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets using the union() method
union_set = set1.union(set2)

# Print the union set
print(union_set)

{1, 2, 3, 4, 5}

In [32]:
#Using the | operator

In [33]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the two sets using the | operator
union_set = set1 | set2

# Print the union set
print(union_set)

{1, 2, 3, 4, 5}

q.10 Find the intersection of two sets.

In [34]:
#Using the intersection() method

In [35]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the intersection of the two sets using the intersection() method
intersection_set = set1.intersection(set2)

# Print the intersection set
print(intersection_set)

{3, 4}

In [36]:
#Using the & operator

In [37]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the intersection of the two sets using the & operator
intersection_set = set1 & set2

# Print the intersection set
print(intersection_set)

{3, 4}

q.11 Find the difference between two sets.

In [38]:
#Using the difference() method

In [39]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the difference between the two sets using the difference() method
difference_set = set1.difference(set2)

# Print the difference set
print(difference_set)

{1, 2}

In [40]:
#Using the - operator

In [41]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the difference between the two sets using the - operator
difference_set = set1 - set2

# Print the difference set
print(difference_set)

{1, 2}

q.12 Check if a set is a subset of another set.

In [42]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

q.13 Check if a set is a superset of another set.

In [44]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set1 is a superset of set2
if set1.issuperset(set2):
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

q.14 Create a set from a list.

In [45]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a set from the list
my_set = set(my_list)

# Print the set
print(my_set)

{1, 2, 3, 4, 5}

q.15 Convert a set to a list.

In [46]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Convert the set to a list
my_list = list(my_set)

# Print the list
print(my_list)

[1, 2, 3, 4, 5]

q.16 Remove a random element from a set.

In [47]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Remove a random element from the set using pop()
removed_element = my_set.pop()

# Print the removed element and the updated set
print("Removed element:", removed_element)
print("Updated set:", my_set)

Removed element: 1
Updated set: {2, 3, 4, 5}

q.17 Pop an element from a set.

In [48]:
# Create a set
my_set = {1, 2, 3, 4, 5}

# Pop an element from the set
popped_element = my_set.pop()

# Print the popped element and the updated set
print("Popped element:", popped_element)
print("Updated set:", my_set)

Popped element: 1
Updated set: {2, 3, 4, 5}

q.18 Check if two sets have no elements in common.

In [49]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets are disjoint
if set1.isdisjoint(set2):
    print("The sets have no elements in common.")
else:
    print("The sets have some elements in common.")

The sets have no elements in common.

q.19 Find the symmetric difference between two sets.

In [50]:
#Using the symmetric_difference() method

In [51]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the symmetric difference between the two sets using symmetric_difference()
symmetric_diff_set = set1.symmetric_difference(set2)

# Print the symmetric difference set
print(symmetric_diff_set)

{1, 2, 5, 6}

In [52]:
#Using the ^ operator

In [53]:
# Create two sets
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Find the symmetric difference between the two sets using the ^ operator
symmetric_diff_set = set1 ^ set2

# Print the symmetric difference set
print(symmetric_diff_set)

{1, 2, 5, 6}

q.20 Update a set with elements from another set.

In [54]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2
set1.update(set2)

# Print the updated set1
print(set1)

{1, 2, 3, 4, 5}

q.21 Create a set of the first 5 prime numbers.

In [55]:
# Create a set of the first 5 prime numbers
prime_numbers = {2, 3, 5, 7, 11}

# Print the set
print(prime_numbers)

{2, 3, 5, 7, 11}

q.22 Check if two sets are identical.

In [56]:
# Using the == operator

In [57]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 2, 1}

# Check if the sets are identical using the == operator
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [58]:
#Using the issubset() and issuperset() methods

In [59]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3, 2, 1}

# Check if set2 is a subset of set1 and vice versa
if set1.issubset(set2) and set2.issubset(set1):
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

q.23 Create a frozen set.

In [60]:
# Create a frozen set
my_frozen_set = frozenset([1, 2, 3, 4, 5])

# Print the frozen set
print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

q.24 Check if a set is disjoint with another set.

In [61]:
# Create two sets
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the sets are disjoint using the isdisjoint() method
if set1.isdisjoint(set2):
    print("The sets are disjoint (have no elements in common).")
else:
    print("The sets are not disjoint (have some elements in common).")

The sets are disjoint (have no elements in common).

q.25 Create a set of squares of numbers from 1 to 5.

In [62]:
# Create an empty set to store squares
square_set = set()

# Loop through numbers from 1 to 5
for num in range(1, 6):
    square_set.add(num ** 2)

# Print the set of squares
print(square_set)

{1, 4, 9, 16, 25}

q.26 Filter out all even numbers from a set.

In [2]:
def filter_even_numbers(input_set):
    return set(x for x in input_set if x % 2 != 0)

input_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
result_set = filter_even_numbers(input_set)
print("Original Set:", input_set)
print("Set with Odd Numbers:", result_set)

Original Set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Set with Odd Numbers: {1, 3, 5, 7, 9}

q.27 Multiply all elements in a set by 2.

In [3]:
def multiply_set_elements(input_set, multiplier):
    return set(x * multiplier for x in input_set)

input_set = {1, 2, 3, 4, 5}
multiplier = 2
result_set = multiply_set_elements(input_set, multiplier)

print("Original Set:", input_set)
print("Set with Elements Multiplied by", multiplier, ":", result_set)

Original Set: {1, 2, 3, 4, 5}
Set with Elements Multiplied by 2 : {2, 4, 6, 8, 10}

q.28 Create a set of random numbers.

In [4]:
import random

def generate_random_set(size, start_range, end_range):
    random_set = set()
    for _ in range(size):
        random_set.add(random.randint(start_range, end_range))
    return random_set

size = 10  # Number of random elements in the set
start_range = 1  # Minimum value for random numbers
end_range = 100  # Maximum value for random numbers

random_set = generate_random_set(size, start_range, end_range)
print("Random Set:", random_set)

Random Set: {65, 99, 38, 8, 73, 13, 79, 81, 30}

q.29 Check if a set is empty.

In [5]:
def check_if_empty(input_set):
    if len(input_set) == 0:
        return True
    else:
        return False

# Example sets
empty_set = set()
non_empty_set = {1, 2, 3}

# Check if sets are empty
empty_result = check_if_empty(empty_set)
non_empty_result = check_if_empty(non_empty_set)

print("Is the empty_set empty?", empty_result)
print("Is the non_empty_set empty?", non_empty_result)

Is the empty_set empty? True
Is the non_empty_set empty? False

q.30 Create a nested set (hint: use frozenset).

In [6]:
# Creating nested sets using frozensets
nested_set = {frozenset({1, 2}), frozenset({3, 4, 5}), frozenset({6, 7, 8, 9})}

print("Nested Set:", nested_set)

Nested Set: {frozenset({3, 4, 5}), frozenset({1, 2}), frozenset({8, 9, 6, 7})}

q.31 Remove an element from a set using the discard method.

In [7]:
my_set = {1, 2, 3, 4, 5}
element_to_remove = 3

print("Original Set:", my_set)
my_set.discard(element_to_remove)
print("Set after discarding", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after discarding 3 : {1, 2, 4, 5}

q.32 Compare two sets.

In [8]:
#Equality: Check if two sets are equal.

In [9]:
set1 = {1, 2, 3}
set2 = {3, 1, 2}

are_equal = set1 == set2
print("Are the sets equal?", are_equal)

Are the sets equal? True

In [10]:
#Subset and Superset: Check if one set is a subset or superset of the other.

In [11]:
set1 = {1, 2}
set2 = {1, 2, 3, 4}

is_subset = set1.issubset(set2)
is_superset = set2.issuperset(set1)

print("Is set1 a subset of set2?", is_subset)
print("Is set2 a superset of set1?", is_superset)

Is set1 a subset of set2? True
Is set2 a superset of set1? True

In [12]:
#Intersection and Disjoint: Check if two sets have any common elements.

In [13]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

has_intersection = not set1.isdisjoint(set2)
print("Do the sets have any common elements?", has_intersection)

Do the sets have any common elements? True

In [14]:
#Difference: Find the elements that are unique to each set

In [15]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1_unique = set1.difference(set2)
set2_unique = set2.difference(set1)

print("Elements unique to set1:", set1_unique)
print("Elements unique to set2:", set2_unique)

Elements unique to set1: {1, 2}
Elements unique to set2: {4, 5}

In [16]:
#Union: Combine two sets while eliminating duplicates.

In [17]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

combined_set = set1.union(set2)
print("Combined set:", combined_set)

Combined set: {1, 2, 3, 4, 5}

In [18]:
#Symmetric Difference: Find elements that are in either of the sets but not in their intersection.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

symmetric_diff = set1.symmetric_difference(set2)
print("Symmetric difference:", symmetric_diff)

Symmetric difference: {1, 2, 4, 5}

q.33 Create a set from a string.

In [20]:
my_string = "hello"
char_set = set(my_string)

print("Original String:", my_string)
print("Set of Characters:", char_set)

Original String: hello
Set of Characters: {'h', 'e', 'o', 'l'}

q.34 Convert a set of strings to a set of integers.

In [21]:
string_set = {"1", "2", "3", "4", "5"}
integer_set = set(int(x) for x in string_set)

print("Original Set of Strings:", string_set)
print("Set of Integers:", integer_set)

Original Set of Strings: {'5', '2', '3', '4', '1'}
Set of Integers: {1, 2, 3, 4, 5}

q.35 Convert a set of integers to a set of strings.

In [22]:
integer_set = {1, 2, 3, 4, 5}
string_set = set(str(x) for x in integer_set)

print("Original Set of Integers:", integer_set)
print("Set of Strings:", string_set)

Original Set of Integers: {1, 2, 3, 4, 5}
Set of Strings: {'5', '1', '2', '3', '4'}

q.36 Create a set from a tuple.

In [23]:
my_tuple = (1, 2, 3, 4, 5)
tuple_set = set(my_tuple)

print("Original Tuple:", my_tuple)
print("Set from Tuple:", tuple_set)

Original Tuple: (1, 2, 3, 4, 5)
Set from Tuple: {1, 2, 3, 4, 5}

q.37 Convert a set to a tuple.

In [24]:
my_set = {1, 2, 3, 4, 5}
set_tuple = tuple(my_set)

print("Original Set:", my_set)
print("Tuple from Set:", set_tuple)

Original Set: {1, 2, 3, 4, 5}
Tuple from Set: (1, 2, 3, 4, 5)

q.38 Find the maximum value in a set.

In [25]:
my_set = {10, 5, 25, 3, 15}
max_value = max(my_set)

print("Set:", my_set)
print("Maximum value:", max_value)

Set: {3, 5, 25, 10, 15}
Maximum value: 25

q.39 Find the minimum value in a set.

In [26]:
my_set = {10, 5, 25, 3, 15}
min_value = min(my_set)

print("Set:", my_set)
print("Minimum value:", min_value)

Set: {3, 5, 25, 10, 15}
Minimum value: 3

q.40 Create a set from user input.

In [27]:
user_set = set()

while True:
    user_input = input("Enter a value (or 'stop' to finish): ")
    if user_input.lower() == 'stop':
        break
    try:
        value = int(user_input)
        user_set.add(value)
    except ValueError:
        print("Invalid input. Please enter a valid integer or 'stop'.")

print("Final Set:", user_set)

Enter a value (or 'stop' to finish):  20
Enter a value (or 'stop' to finish):  60
Enter a value (or 'stop' to finish):  80
Enter a value (or 'stop' to finish):  100
Enter a value (or 'stop' to finish):  300
Enter a value (or 'stop' to finish):  50
Enter a value (or 'stop' to finish):  0
Enter a value (or 'stop' to finish):  10
Enter a value (or 'stop' to finish):  10
Enter a value (or 'stop' to finish):  20
Enter a value (or 'stop' to finish):  30
Enter a value (or 'stop' to finish):  40
Enter a value (or 'stop' to finish):  finish

Invalid input. Please enter a valid integer or 'stop'.

Enter a value (or 'stop' to finish):  stop

Final Set: {0, 100, 40, 10, 300, 80, 50, 20, 60, 30}

q.41 Check if the intersection of two sets is empty.

In [28]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

is_intersection_empty = set1.isdisjoint(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is the intersection empty?", is_intersection_empty)

Set 1: {1, 2, 3}
Set 2: {4, 5, 6}
Is the intersection empty? True

q.42 Create a set of the first 5 Fibonacci numbers.

In [29]:
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

n = 5
fibonacci_numbers = generate_fibonacci(n)

print("Set of the first", n, "Fibonacci numbers:", fibonacci_numbers)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

q.43 Remove duplicates from a list using sets.

In [30]:
original_list = [1, 2, 2, 3, 4, 4, 5, 6, 6]

# Convert the list to a set to remove duplicates
unique_set = set(original_list)

# Convert the set back to a list to preserve order (if needed)
unique_list = list(unique_set)

print("Original List:", original_list)
print("List after removing duplicates:", unique_list)

Original List: [1, 2, 2, 3, 4, 4, 5, 6, 6]
List after removing duplicates: [1, 2, 3, 4, 5, 6]

q.44 Check if two sets have the same elements, regardless of their count.

In [31]:
set1 = {1, 2, 3, 4, 4, 5}
set2 = {5, 4, 3, 2, 1}

are_equal = set1 == set2

print("Set 1:", set1)
print("Set 2:", set2)
print("Do the sets have the same elements?", are_equal)

Set 1: {1, 2, 3, 4, 5}
Set 2: {1, 2, 3, 4, 5}
Do the sets have the same elements? True

q.45 Create a set of the first `n` powers of 2.

In [32]:
def generate_powers_of_2(n):
    powers_set = set()
    for i in range(n):
        powers_set.add(2 ** i)
    return powers_set

n = 5
powers_of_2 = generate_powers_of_2(n)

print("Set of the first", n, "powers of 2:", powers_of_2)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

q.46 Find the common elements between a set and a list.

In [33]:
set1 = {1, 2, 3, 4, 5}
list1 = [3, 4, 5, 6, 7]

# Using intersection() method
common_elements = set1.intersection(list1)

print("Set:", set1)
print("List:", list1)
print("Common elements using intersection():", common_elements)

# Using set comprehension
common_elements_set = {x for x in set1 if x in list1}

print("Common elements using set comprehension:", common_elements_set)

Set: {1, 2, 3, 4, 5}
List: [3, 4, 5, 6, 7]
Common elements using intersection(): {3, 4, 5}
Common elements using set comprehension: {3, 4, 5}

q.47 Create a set of the first `n` triangular numbers.

In [34]:
def generate_triangular_numbers(n):
    triangular_set = set()
    current_sum = 0
    for i in range(1, n + 1):
        current_sum += i
        triangular_set.add(current_sum)
    return triangular_set

n = 5
triangular_numbers = generate_triangular_numbers(n)

print("Set of the first", n, "triangular numbers:", triangular_numbers)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

q.48 Check if a set contains another set as a subset.

In [35]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

is_subset = set2.issubset(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set2 a subset of set1?", is_subset)

Set 1: {1, 2, 3, 4, 5}
Set 2: {2, 3}
Is set2 a subset of set1? True

q.49 Create a set of alternating 1s and 0s of length `n`.

In [36]:
def generate_alternating_set(n):
    alternating_set = set()
    for i in range(n):
        alternating_set.add(i % 2)
    return alternating_set

n = 10
alternating_sequence = generate_alternating_set(n)

print("Set of alternating 1s and 0s of length", n, ":", alternating_sequence)

Set of alternating 1s and 0s of length 10 : {0, 1}

q.50 Merge multiple sets into one.

In [37]:
#Using union() method:

In [38]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print("Merged Set using union():", merged_set)

Merged Set using union(): {1, 2, 3, 4, 5, 6, 7}

In [39]:
#Using | operator:

In [40]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1 | set2 | set3

print("Merged Set using | operator:", merged_set)

Merged Set using | operator: {1, 2, 3, 4, 5, 6, 7}

In [41]:
# ASSIGNMENT FINISH 20 AUG 2023